<!DOCTYPE html>
<html>

<head>
  <title>Weatherly</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img src="images/photo.png" />
    <p>This app gives the info regarding the weather forecast in your area.
      Created by Vivek,a beginner to Node JS
    </p>
  </div>
  {{>footer}}
</body>

</html>