<!DOCTYPE html>
<html>
  <head>
    <title>Weatherly</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <img src="images/photo.png" />
    </div>
    {{>footer}}
  </body>
</html>
