<!DOCTYPE html>
<html>
  <head>
    <title>Weatherly</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>Please contact {{name}} at {{contact}}</p>
    </div>
    {{>footer}}
  </body>
</html>
